/*Signup page*/
.signup-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    
    background: url('../../../public/event.avif') ;
    background-size: cover;
    background-position: center;
  }
  
  .form_container {
    background-color: #fff;
    color: #0a0a0a;
    padding: 0.89rem 3rem;
    margin-top: 1.1rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 550px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  }
  
  .form_container > h2 {
    margin-block: 1rem;
    padding-block: 0.6rem;
    color: #C31210;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
  }
  
  .form_container > form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
  
  .form_container div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  .form_container input,
  textarea {
    border: none;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
    font-size: 1.5rem;
    outline: none;
    color: #000;
    font-weight: 500;
  }
  
  
  .form_container input::placeholder {
    font-size: 1.34rem;
    color: #000;
  }
  .form_container input:focus-within, input:focus-visible {
    font-size: 1.34rem;
    font-style: italic;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .form_container button {
    background-color: #C31210;
    color: #fff;
    border: none;
    padding: 0.86rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  .form_container button:hover{
    background-color: #ffaa00;
  }
  .form_container span {
    text-align: center;
    white-space: nowrap;
  }
  span a {
    text-decoration: none;
    color: rgb(4, 80, 95);
    font-size: 1.12rem;
    font-weight: 600;
  }
  span a:hover{
    color: #C31210;
  }
  