
.footer{
  color: #fff;
  background-color: #c31210;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    font-size: 1.45rem;
    padding: 1.1rem;
}
.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    gap: 20px;
}
.footer-content-left li, .footer-content-center li, .footer-content-right li{
    list-style-type: none;
    margin-bottom: 10px;
    cursor: pointer;
}
 .footer-content-center h2, .footer-content-right h2{
    color: white;
    margin-bottom: 10px;
}
.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
}
.footer-social-icons img:hover{
    background-color: #2926f3;
    border-radius: 50%;
    transform: translateX(45deg);
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    /* border: none; */
}


/*responsive media query*/
@media (max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}