/* Header.css */
.main-header-div{
  position: fixed;
  width: 100vw;
  background: red;
  z-index: 1000;
}
.header {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    align-items: center;
    padding: 10px;
    color: #000000;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); 
    position: relative; /* Ensure relative positioning */
    z-index: 10; /* Set a lower z-index for the header */
  
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .logo .highlight {
    color: #ff5733; /* Customize highlight color */
  }
  
  .logo span {
    font-size: 24px;
    font-weight: bold;
  }
  
 
  .search-bar {
    border-radius: 50px; 
    width: 50vw;
    overflow: hidden; 
    display: flex;
  }
  
  .search-bar input {
    border: 2px solid rgb(217, 202, 202);
    border-right: none;
    border-radius: 50px 0 0 50px; 
    padding: 10px 15px;
    width: 100%; 
    outline: none;
    
  }
  
  .input-group-text {
    background-color: white; 
    border: 2px solid rgb(217, 202, 202);
    border-left: none;
    border-radius: 0 50px 50px 0; 
    padding: 10px 15px;
    display: flex;
    align-items: center;
    
  }
  
  .bi-search {
    font-size: 18px;
    color: #000; 
  }
  
  .search-bar .form-control:focus {
    box-shadow: none; 
  }
  
  
  .search-bar:focus-within .input-group-text {
    box-shadow: 4px 4px 8px rgba(0, 123, 255, 0.5); 
    border-color:rgba(0, 123, 255, 0.5);
  }
  
  .location-signin {
    display: flex;
    align-items: center;
  }
  
  .location {
    font-size: 1rem;
    margin-right: 10px;
  }

  .btn-outline-primary{
    padding: 10px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .btn-outline-primary :first-child{
    text-decoration: none;
  }

  .btn-outline-primary:hover :first-child{
    color: white;
  }

  .btn-outline-primary:hover{
    background-color: #0D6EFD;
    color: white;
  }
  
  /* NavBar.css */
  .navbar {
    background-color: #0b0404;
    padding: 10px;
  }
  
  .main-nav ul, .additional-links ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .main-nav ul li, .additional-links ul li {
    margin: 0 10px;
    cursor: pointer;
  }
  