/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #000000;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .logo .highlight {
    color: #ff5733; /* Customize highlight color */
  }
  
  .logo span {
    font-size: 24px;
    font-weight: bold;
  }
  
  .search-bar {
    width: 50%; /* Adjust width as needed */
  }
  
  .search-bar input {
    padding: 5px;
    width: 300px;
  }
  
  .location-signin {
    display: flex;
    align-items: center;
  }
  
  .location {
    font-size: 1rem;
    margin-right: 10px;
  }
  
  .signin-button {
    font-size: 1.2rem;
    padding: 0px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  /* NavBar.css */
  .navbar {
    background-color: #0b0404;
    padding: 10px;
  }
  
  .main-nav ul, .additional-links ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .main-nav ul li, .additional-links ul li {
    margin: 0 10px;
    cursor: pointer;
  }
  