.slider-container {

  width: 93%;
  margin-inline: auto;
  position: relative;
  top: 150px;
  min-height: 10vh;
}

/* Ensure images scale properly */
.slider-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Responsive for tablets */
@media (max-width: 768px) {
  .slider-container {
    width: 90%;
    top: 100px;
    min-height: 40vh;
  }
}

/* Responsive for mobile devices */
@media (max-width: 480px) {
  .slider-container {
    width: 95%;
    top: 80px;
    min-height: 35vh;
  }

  .slider-container img {
    border-radius: 5px;
  }

  width: 100%;
  margin-inline: auto;
  position: relative;
  top: 75px;
  min-height: 45vh;
}

.slick-slide {
  padding: 0 5px; 
}

.slick-list {
  overflow: visible; 
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.custom-prev {
  left: 20px; 
}

.custom-next {
  right: 20px; 
}

.slick-prev, .slick-next {
  display: none !important;
}

.slick-dots li button:before {
  font-size: 12px;
  color: rgb(26, 23, 23); 

}
