
.slider-container {
    /* margin: 40px auto; */
    width: 90%;
    margin: auto;
    position: relative;
    top: 75px;
    min-height: 45vh;
  }
  
  .slider-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  