.slider-container {
  width: 100%;
  margin-inline: auto;
  position: relative;
  top: 75px;
  min-height: 45vh;
}

.slick-slide {
  padding: 0 5px;
}

.slick-list {
  overflow: visible;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.custom-prev {
  left: 20px;
}

.custom-next {
  right: 20px;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-dots li button:before {
  font-size: 12px;
  color: rgb(26, 23, 23);
}
