.slider-container {
    /* margin: 40px auto; */
    width: 80%;
    margin-inline: auto;
    position: relative;
    top: 150px;
    min-height: 45vh;
  }
  
  .slider-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  