/* MovieList.css */

.movie-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;

    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-inline: auto;
    position: relative;

    padding: 10px;
    margin-bottom: 10px;
  }
  
  .movie-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar for better UX */
  }
  
  @media screen and (max-width:1100px) {
    .movie-list{
      top: 80px;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width:800px) {
    .movie-list{
      top: 0px;
      margin-bottom: -45px;
    }
  }

