/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* Header and Footer Styles */
header, footer {
  background-color: #222;
  color: #fff;
  padding: 1.5em;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 40px;
}

/* Movie Details Container Styles */
.movie-details-container {
  width: 800px;
  margin: 40px auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Left Section Styles */
.left-section {
  flex: 1;
  margin-right: 30px;
}

.movie-poster img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movie-poster img:hover {
  transform: scale(1.05);
  color: antiquewhite;
}

/* Right Section Styles */
.right-section {
  flex: 2;
}

.movie-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #19191a;
}

.movie-description {
  font-size: 16px;
  color: #636565;
  margin-bottom: 20px;
  text-decoration: none;
}

.movie-genre, .movie-rating {
  font-size: 18px;
  color: #34495e;
  margin-bottom: 15px;
}

.movie-showtimes h3, .movie-cast h3, .movie-photos h3, .movie-trailer h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.movie-showtimes div, .movie-cast div {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 5px;
}

/* Carousel Styles */
.carousel-container {
  margin: 20px 0;
}

.cast-member, .photo {
  text-align: center;
  margin: 10px;
}

.cast-member img, .photo img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.cast-member img:hover, .photo img:hover {
  transform: scale(1.1);
}

.cast-member div, .photo div {
  margin-top: 8px;
  font-size: 14px;
  color: #34495e;
}

/* Movie Trailer */
.movie-trailer iframe {
  border-radius: 15px;
  width: 700px;
  max-height: 390px;
}

/* Buttons Section */
.buttons-sec{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
