.movie {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  text-align: center;
  margin: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  position: relative;
}

.movie:hover {
  scale: 1.02;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.384);
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-rating {
  position: absolute;
  text-align: left;
  bottom: 130px;
  width: 89%;
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.rating-star {
  color: red;
}

.rating-points{
  color: white;
  font-size: 12px;
}

.votes {
  font-size: 12px;
  color: white;
}

.movie-title {
  font-size: 18px;
  text-align: left;
  margin: 10px 0;
}

.movie-genre {
  font-size: 14px;
  margin: 10px 0;
  text-align: left;
}

.book-tickets-button {
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.book-tickets-button:hover {
  background-color: #ff6500;
}

.promoted{
  position: absolute;
  background-color: red;
  color: white;
  padding: 5px;
  bottom: 512px;
  left: 200px;
  right: 20px;
  font-size: 11px;
  border-radius: 2px;
}