.movie-details-container {
  width: 800px;

  margin: 40px auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}


.left-section {
  flex: 50%;
  margin-right: 5px;
}

.movie-poster img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.movie-poster img:hover {
  transform: scale(1.05);
}


.right-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.rating {
  font-size: 18px;
  color: #f39c12;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}



.movie-genre {
  font-size: 18px;
  margin-bottom: 15px;
}

.rating {
  font-size: 18px;
  background-color: black;
  color: yellow;
  width: 300px;
  align-self: flex-start;
  font-weight: bold;
}

.movie-description {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 20px;
}

/* Showtimes */
.movie-showtimes div {
  background-color: #e8f8ff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: bold;
  color: #2c3e50;
  display: inline-block;
}
.movie-cast h3,
.movie-photos h3,
.movie-trailer h3 {
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 10px;
  color: #2c3e50;
  text-align: center;
}

.movie-showtimes div,
.movie-cast div {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 5px;
}

/* Carousel Arrows */
.carousel-container .react-multiple-carousel__arrow {
  opacity: 0;
  transition: opacity 0.3s ease;

}

.carousel-container:hover .react-multiple-carousel__arrow {
  opacity: 1;
}

/* Positioning and Styling Arrows */
.react-multiple-carousel__arrow--left {
  left: 0px;
  z-index: 1;
}

.react-multiple-carousel__arrow--right {
  right: 0px;
  z-index: 1;
}


.react-multiple-carousel__arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}


/* Cast Section */
.movie-cast h3 { 
  align-items: center;
}
.photo img, .cast-member img {
  margin-top: 8px;
  margin-left: 70px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  justify-content: center;
  transition: transform 0.3s ease;
}

.cast-member img:hover {
  transform: scale(1.1);
}

.cast-member div {
  margin-top: 8px;
  margin-left: 100px;
  font-size: 14px;
  color: #34495e;
}


/* Movie Trailer */
.movie-trailer iframe {
  border-radius: 15px;
  width: 700px;
  max-height: 390px;
}

/* Buttons Section */
.buttons-sec {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media(min-width: 300px) {
  .movie-details-container {
    display: flex;
    flex-wrap: wrap;
  }

  .left-section {
    flex: 1;
    min-width: 400px;
    margin-right: 5px;
  }

  .right-section {
    flex: 1;
  }

  .bottom-section {
    flex-basis: 100%;
    margin-top: 20px;
    width: 100%;
  }

  .book-tickets-button {
    justify-content: end;
  }

  .buttons-sec {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}
