/* MovieList.css */

.movie-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    position: relative;
    padding: 10px;
    flex-wrap: wrap;
  }
  
  .movie-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar for better UX */
  }
  