/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* Header and Footer Styles */
header,
footer {
  background-color: #222;
  color: #fff;
  padding: 1.5em;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 40px;
}

.movie-details-container {
  width: 800px;
  margin: 40px auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}

.left-section {
  flex: 50%;
  margin-right: 5px;
}

.movie-poster img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movie-poster img:hover {
  transform: scale(1.05);
}

.right-section {
  flex: 50%;
}

.movie-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #2c3e50;
}

.movie-description {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 20px;
}

.right-section {
  display: flex;
  flex-direction: column;
}

.movie-genre {
  font-size: 18px;
  margin-bottom: 15px;
}

.rating {
  font-size: 18px;
  background-color: black;
  color: yellow;
  width: 300px;
  align-self: flex-start;
  font-weight: bold;
}

.movie-showtimes h3,
.movie-cast h3,
.movie-photos h3,
.movie-trailer h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.movie-showtimes div,
.movie-cast div {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 5px;
}

/* Carousel Styles */
.carousel-container {
  margin: 20px 0;
  margin-left: 10px;
}

.cast-member,
.photo {
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.cast-member img,
.photo img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.cast-member img:hover,
.photo img:hover {
  transform: scale(1.1);
}

.cast-member div,
.photo div {
  margin-top: 8px;
  font-size: 14px;
  color: #34495e;
}

/* Movie Trailer */
.movie-trailer iframe {
  border-radius: 15px;
  width: 700px;
  max-height: 390px;
}

/* Buttons Section */
.buttons-sec {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* Custom Arrow Styles */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-arrow-left {
   left: 0px; 
}

.custom-arrow-right {
  right: 0px;
}

.rotate-on-hover:hover {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.rotate-90 {
  transform: rotate(90deg);
}

@media(min-width: 300px) {
  .movie-details-container {
    display: flex;
    flex-wrap: wrap;
  }

  .left-section {
    flex: 1;
    min-width: 400px;
    margin-right: 5px;
  }

  .right-section {
    flex: 1;
  }

  .bottom-section {
    flex-basis: 100%;
    margin-top: 20px;
    width: 100%;
  }

  .book-tickets-button {
    justify-content: end;
  }

  .buttons-sec {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}