/* NavBar.css */
.navbar {
    background-color: #e8e8e8;
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  }

  .main-nav ul{
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 0;
    margin: 10px 0;
    width: 100%;
    /* min-width: 1200px; */
    
  }

  .additional-links ul {
    list-style: none;
    display: flex;
    /* justify-content: right; */
    padding: 0;
    margin: 10px 0;
    /* width: 100%; */
    /* max-width: 1200px; */
    
  }
  
  .main-nav ul li, .additional-links ul li {
    margin: 0 10px;
    cursor: pointer;
    font-size: 19px;
    color: #000;
    font-weight: 500;
    transition: all 0.3s;
  }
  .main-nav li a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
  }
  
  .main-nav ul li:hover, .main-nav li a:hover, .additional-links ul li:hover {
    color: #c31210;
    font-weight: 600;
    transform: scale(1.1);
    transition: all 0.3s ease-in;
  }
  